{% extends 'base.html' %}
{% block title %}
Login page
{% endblock %}

{% block sidebar%}
{% endblock %}

{% block content %}
<div class="flex justify-center items-center flex-grow p-4">
    
    <form action="" method="post" class="w-[30%] border border-white rounded-md p-4">
        {% csrf_token %}
        
        {% for message in messages %}
        <div class="alert alert-error alert-soft">
            <span> {{message}}</span>
        </div>
        {% endfor %}
       <h1 class="text-3xl font-bold mb-3"> Forgot Password </h1>
       <hr>
       <fieldset class="fieldset">
        <legend class="fieldset-legend"> Email </legend>
        <input type="text" name="email" required placeholder="Email" class="input">
        </fieldset>
        <button type="submit" class="btn btn-primary mt-2">Send OTP</button><br>
         <a href="{% url 'accounts:school_admin_login' %}" class="mt-4 text-sm text-blue-500">
                Remember your password ? Click here to login
            </a>
    </form>
</div>



{% endblock %}
